[mysqld]
local_infile                                = 1
port = 3307
secure-file-priv                            =""
server-id = 3307
user                                        =mysql
default_time_zone='+01:00'
back_log                                    = 3000
max-connections                             =2500
table_open_cache                            = 4096
table-open-cache-instances                  =4
thread_cache_size                           = 1024
thread_stack                                = 256K
thread_handling                             = one-thread-per-connection
binlog_cache_size	= 1M
binlog_stmt_cache_size = 1M
join_buffer_size = 32M
max_heap_table_size = 16M
read_buffer_size = 1M
read_rnd_buffer_size = 16M
sort_buffer_size = 1M
tmp_table_size = 16M
innodb-adaptive-hash-index                  =FALSE
innodb-buffer-pool-size                     =10G
innodb-data-file-path                       =ibdata1:100M:autoextend
innodb-log-file-size                        =3G
innodb_monitor_enable					    =all
innodb_write_io_threads                     =20
innodb_read_io_threads                      =20
innodb_io_capacity                          = 10000
innodb_io_capacity_max                      = 20000
innodb_snapshot_isolation				    = 0
innodb_write_io_threads = 25
innodb_read_io_threads  = 25
innodb_purge_threads    = 20
binlog_expire_logs_seconds=10
slave_connections_needed_for_purge=0
binlog-format                               =ROW
binlog-row-image                            =FULL
sync-binlog                                 =1
long_query_time=240
slow-query-log = 0
general-log                                 =0