[mysqld]
local_infile                                = 1
port = 3307
secure-file-priv                            =""
server-id = 3307
user                                        =mysql
default_time_zone='+01:00'
max-connections                             =2500
table_definition_cache                      = 4096
tablespace-definition-cache                 =256
table_open_cache                            = 4096
table-open-cache-instances                  =4
thread_cache_size                           = 1024
thread_stack                                = 256K
thread_handling                             = one-thread-per-connection
binlog_cache_size	= 1M
binlog_stmt_cache_size = 1M
join_buffer_size = 32M
max_heap_table_size = 16M
read_buffer_size = 1M
read_rnd_buffer_size = 16M
sort_buffer_size = 1M
tmp_table_size = 16M
innodb_adaptive_hash_index                  =off
innodb_autoinc_lock_mode                    =2
innodb_buffer_pool_in_core_file             =OFF
innodb_buffer_pool_instances                = 40
innodb_buffer_pool_size                     =10G
innodb_change_buffering                     =none
innodb_data_file_path                       =ibdata1:100M:autoextend
innodb_doublewrite_files                    =2 
innodb_doublewrite_pages                    =128
innodb_flush_method                         =O_DIRECT    #O_DIRECT_NO_FSYNC #O_DIRECT
innodb_use_fdatasync                        =1
innodb_io_capacity                          =10000
innodb_io_capacity_max                      = 20000 
innodb_log_buffer_size                      =64M
innodb_redo_log_capacity                    =2G
innodb_monitor_enable					    =all
innodb_numa_interleave                      =ON
innodb_page_cleaners                        = 40 
innodb_parallel_read_threads                = 8  
innodb_purge_threads                        = 4 
innodb_read_io_threads                      = 32 
innodb_redo_log_capacity                    = 3355443200
innodb_sync_array_size                      = 12
innodb_write_io_threads                     = 32
binlog_expire_logs_seconds=10
long_query_time=240
slow-query-log = 0
general-log                                 =0