[mysqld]
local_infile                                = 1
port = 3307
secure-file-priv                            =""
server-id = 3307
user                                        =mysql
default_time_zone='+01:00'
max-connections                             =2500
table_definition_cache                      = 4096
table_open_cache                            = 4096
table-open-cache-instances                  =4
thread_cache_size                           = 1024
thread_stack                                = 256K
thread_handling                             = one-thread-per-connection
binlog_cache_size	= 1M
binlog_stmt_cache_size = 1M
join_buffer_size = 32M
max_heap_table_size = 16M
read_buffer_size = 1M
read_rnd_buffer_size = 16M
sort_buffer_size = 1M
tmp_table_size = 16M
innodb-buffer-pool-instances                =4
innodb-buffer-pool-size                     =10G
innodb-data-file-path                       =ibdata1:100M:autoextend
innodb-log-file-size                        =800M
innodb-log-files-in-group                   =4
innodb-adaptive-hash-index                  =FALSE
innodb-autoinc-lock-mode                    =2
innodb-flush-method                         =O_DIRECT    #O_DIRECT_NO_FSYNC #O_DIRECT
innodb_write_io_threads                     =20
innodb_read_io_threads                      =20
innodb_sync_array_size                      = 32
innodb_io_capacity                          = 1000
innodb_io_capacity_max                      = 4000
innodb-adaptive-flushing-lwm                = 60
innodb_monitor_enable					    =all
expire_logs_days=1
long_query_time=240
slow-query-log = 0
general-log                                 =0